<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav>
            <ul>
                <li><a class = "navBar" href="/">Home</a></li>

                {% if current_user.is_authenticated == False %}
                <li><a class = "navBar" href = "/login">LOGIN</a></li>
                <li><a class = "navBar" href = "/create">CREATE NEW USER</a></li>
                {% endif %}

                {% if current_user.is_authenticated %}
                    <li><a class = "navBar" href = "/sensorData">View Data</a></li>
                    <li><a class = "navBar" href = "/logout">LOGOUT</a></li>
                    <li class="navBar"><b id = "currentUser">{{current_user.username}}</b></li>
    
                {% endif %}



            </ul>
    </nav>

    {% block content %}

    {% endblock %}
</body>
</html>